{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}레시피 목록{% endblock %}
{% block main_area %}

<style>
  div.minjun {
    border: 1px solid #bcbcbc;
  }
  table.minjun {
    width: 1100px;
  }
  th.minjun, td.minjun {
    width: 150px;

  }
  th.minjun1, td.minjun1 {
    width: 200px;

  }
  th.minjun2, td.minjun2 {
    width: 750px;

  }
  th.minjun3, td.minjun3 {
    width: 90px;

  }

</style>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <!-- <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" /> -->

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body style="padding-top: 100px;">
    <!-- Featured blog post-->
    <div class="container">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid col-lg-12">

                    <div class="container-fluid px-4">
                        <br>
                        <h1 class="mt-4">전체 레시피</h1>
                        <!-- <hr /> -->
                        <!-- <h1 class="fw-bold text-black m-0 nav2 mt-4">요리조리</h1> -->
                        </a>
                        <hr />
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/ingredients">나의 냉장고</a></li>
                            <li class="breadcrumb-item active">전체 레시피</li>
                        </ol>
 
                        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <div class="mb-3">

                                </div>
                            </div> -->
                        <br>
                        <div class="col col-xxl-12 card mb-4">
                            <div class="card-header">
                                <i class="fa-solid fa-door-open"></i>
                                재료 목록
                            </div>
                            
                            <div class="card-body minjun">
                                <table class="minjun" id="datatablesSimple">
                                    <form method="GET" action="{% url 'recipe_list_all' %}">
                                        {{ form.as_p }}
                                        <input type="submit" value="Submit" class="btn btn-primary" />
                                    </form>
                                    <hr/>
                                    <thead>
                                        <tr>
                                            <th class="text-center minjun">레시피<br>바로가기</th>
                                            <th class="text-center minjun1">요리명</th>
                                            <th class="text-center minjun">난이도</th>
                                            <th class="text-center minjun">소요시간</th>
                                            <th class="text-center minjun2">재료</th>
                                            <th class="text-center minjun3">추천수</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th class="text-center minjun">레시피<br>바로가기</th>
                                            <th class="text-center minjun1">요리명</th>
                                            <th class="text-center minjun">난이도</th>
                                            <th class="text-center minjun">소요시간</th>
                                            <th class="text-center minjun2">재료</th>
                                            <th class="text-center minjun3">추천수</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="tbody">
                                        <!-- <div>
                                            <form method="get">
                                                {{ listing_filter.form|crispy }}
                                                <button class="btn btn-sm btn-danger" type="submit">Submit</button>
                                            </form>
                                        </div> -->
                                        <!-- {% for listing in listing_filter.qs %}
                                            <div class = "col">
                                                {% include "ingredients/recipe_all.html" %}
                                            </div>
                                        {% endfor %} -->
                                        {% for p in recipe_list %}
                    
                                        <tr class="fs-7">
                                            <td class="text-center minjun"><a role="button" class="btm_image" id="img_btn" href="https://www.10000recipe.com/recipe/{{ p.rc_num }}">
                                                    <!-- <img src="{% static 'img/icon1.png' %}" width="30" height="30"></a></td> -->
                                                    <img src="{{ p.rc_src }}" width="50" height="50"></a></td>
                                            <td class="text-center minjun1">
                                                <p class="fw-bold fs-8">{{ p.rc_name }}</p>
                                            </td>
                                            <td class="text-center minjun">{{ p.get_rc_diff_display }}</td>
                                            <td class="text-center minjun">{{ p.get_rc_time_display }}</td>
                                            <td align="left" class="minjun2">{{ p.rc_ing }}</td>
                                            <td class="text-center minjun3">{{ p.rc_rec }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <br>

    <!-- 페이지네이션 -->
    {% if is_paginated %}
    <ul class="pagination justify-content-center mb-4">
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
        </li>
        {% endif %}
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    
    <!-- <script src="{% static 'js/datatables-simple-demo.js' %}"></script>문제가 되는 js... -->
    <!-- <script type="text/javascript" src="/js/common/jquery/prototype.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    
    

</body>
{% endblock %}