{% load socialaccount %}
{% load static %}

<style>
@font-face {
    font-family: 'HSGyeoulNoonkott20';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HSGyeoulNoonkott20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
a.nav1 {
    font-family: 'HSGyeoulNoonkott20';
    font-size: 30px;
}   
</style>

<!-- 네비게이션바 start -->
<nav class="navbar navbar-expand-lg bg-white fixed-top">
    <div class="container-fluid">
        <div class="col-xxl-3 text-start">
            <a class="navbar-brand fw-bold nav1" href="/">&nbsp;&nbsp;&nbsp;오늘뭐먹지</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false">}
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <div class="col-xl-7 fw-bold">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">홈</a>
                    </li>
                </div>
                <div class="col-xl-7 fw-bold">
                    <li class="nav-item">
                        <a class="nav-link" href="/about_me">개요</a>
                    </li>
                </div>
                <div class="col-xl-8 fw-bold">
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">재료입력</a>
                    </li>
                </div>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown fw-bold">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="False">
                        마이페이지
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/my_account">내정보</a></li>
                        <li><a class="dropdown-item" href="/ingredients">나의 냉장고</a></li>
                    </ul>
                </li>
                {% else %}
                <div class="col-xl-5 fw-bold">
                    <a class="nav-link dropdown-toggle" href="/accounts/login/" role="button">마이페이지</a>
                </div>
                {% endif %}
            </ul>
        </div>
        <!-- 로그인 start -->
        <div class="justify-content-end">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.socialaccount_set.all.0.get_avatar_url %}
                            <img class="rounded-circle" width="25px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
                        {% else %}
                            <img class="rounded-circle" width="30px" src="https://doitdjango.com/avatar/id/1330/12d7c1cea8718f2e/svg/{{ user.email }}">
                        {% endif %}
                        &nbsp;{{ user.username }} 님 환영합니다!
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                       
                        <a class="dropdown-item" href="/accounts/logout/">로그아웃</a>
                    </div>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">로그인</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- 로그인 end -->
    </div>
</nav>

<!-- Modal start-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">로그인</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 d-grid gap-2">
                        <a role="button" class="btn btn-outline-dark btn-sm" href="{% provider_login_url 'google' %}">
                            <i class="fa-brands fa-google"></i> 구글로 로그인</a>
                        <a role="button" class="btn btn-outline-dark btn-sm" href="/accounts/login/">
                            <i class="fa-solid fa-user-plus"></i> Login in with username</a>
                    </div>
                    <div class="col-md-6 col-sm-12 d-grid gap-2">
                        <a role="button" class="btn btn-outline-dark btn-sm" href="#">
                            <i class="fa-solid fa-n"></i> 네이버로 로그인</a>
                        <a role="button" class="btn btn-outline-dark btn-sm" href="/accounts/signup/">
                            <i class="fa-regular fa-envelope"></i> 이메일주소로 로그인</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

<!-- 네비게이션바 end -->
