{% extends 'blog/base.html' %}
{% load static %}
{% load socialaccount %}
{% block head_title %}내 정보{% endblock %}
{% block main_area %}
<style>
    @font-face {
        font-family: 'HSGyeoulNoonkott20';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HSGyeoulNoonkott20.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    h1.nav1 {
        font-family: 'HSGyeoulNoonkott20';
        font-size: 20px;
    }

    @font-face {
        font-family: 'GothicA1-Light';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
    }
    h4.GothicA1 {
        font-family: 'GothicA1-Light';
        font-size: 30px;
    }
</style>

<body style="padding-top: 100px;">
    <form method="Post" enctype="multipart/form-data">{% csrf_token %}
        <div class="container rounded bg-teal mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        {% if user.socialaccount_set.all.0.get_avatar_url %}
                        <img class="rounded-circle" width="150px"
                            src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
                        {% else %}
                        <img class="rounded-circle" width="150px"
                            src="https://doitdjango.com/avatar/id/1330/12d7c1cea8718f2e/svg/{{ user.email }}">
                        {% endif %}
                        <br>
                        <span class="font-weight-bold fs-2">{{ user }}</span>
                        <span class="text-black-50">{{ user.email }}</span><span> </span>
                    </div>
                </div>
                <div class="col-md-7 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right GothicA1">내 정보</h4>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-md-12"><label for="floatingInputUsername">이름</label><input type="text"
                                    name="username" class="form-control" placeholder="홍길동" value="{{ user.username }}"
                                    id="floatingInputUsername"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 mb-3"><label for="floatingInputEmail">이메일 주소</label><input
                                    type="email" name="email" class="form-control" placeholder="enter email id"
                                    value="{{ user.email }}"></div>
                            <div class="col-md-12 mb-3"><label for="floatingPassword">현재 비밀번호</label><input
                                    type="password" name="password" class="form-control" placeholder="현재 비밀번호 입력"
                                    value=""></div>
                            <div class="col-md-12 mb-3"><label for="floatingPassword">수정할 비밀번호</label><input
                                    type="password" name="password1" class="form-control" id="floatingPassword"
                                    placeholder="변경할 비밀번호 입력" value=""></div>
                            <div class="col-md-12 mb-3"><label for="floatingPasswordConfirm">비밀번호 확인</label><input
                                    type="password" name="password2" class="form-control" id="floatingPasswordConfirm"
                                    placeholder="비밀번호 확인" value=""></div>
                        </div>
                        <br>
                        <div class="text-end">
                            <button class="btn btn-primary profile-button" type="submit">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

{% endblock %}